.seat-layout img {
    width: 100%;
}

.seat-layout {
    width: 90%;
}

.available-sleep {
    width: 30px;
    height: 25px;
    border: 1px solid;
    background-color: white;
}

.unavailable-sleep {
    width: 30px;
    height: 25px;
    border: 1px solid;
    background-color: #CBCBCB;
}

.female-sleep {
    width: 30px;
    height: 25px;
    border: 1px solid;
    background-color: rgb(239,169,160);
}