.filters {
    flex-basis: 15%;
}

.buses {
    flex-basis: 85%;
}

.bus-item {
    border: 1px solid #ddd;
}

.bus-item:hover {
    box-shadow: 0 16px 30px 1px rgb(0 0 0 / 10%);
    transition: 0.5s;
}

.rating {
    background-color: #38b87c !important;
}

.bus-name,
.dp-time,
.fare span {
    font-weight: 600;
}

.dp-location,
.bp-location,
.rating-count {
    font-size: 0.8em;
}

.modify-sec {
    border-bottom: 1px solid #ddd;
}

.seat-container-div {
    background-color: #EEEDED;
    box-shadow: inset 1px 1px 0 #aaa, inset 0 -1px 0 #aaa;
}

.sort-sec a {
    font-size: 0.8em;
    cursor: pointer;
}

.sort-sec a:hover {
    opacity: 0.6;
}