.deck {
    background-color: white;
    border-left: 5px solid gray;
}

.wheel {
    width: 5%;
    border-right: 1px solid gray;
}

.wheel img {
    padding-right: 0.2em;
    margin-top: 0.5em;
}

.layout {
    width: 90%;
}

.layout .col {
    padding: 0 1%;
}

.busRow:last-child {
    margin-top: 5%;
}