.home-header {
    background-color: rgba(216, 78, 85, 1);
    color: white;
    box-shadow: inset rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.main-header {
    padding: 0.2em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.main-header li:hover {
    opacity: 0.8;
}

.main-features,
.user-features {
    flex-direction: row !important;
    gap: 0.7em;
    font-size: 0.85em;
    align-items: center;
}