.search {
    min-height: 550px;
    background-image: url(https://st.redbus.in/Images/INDOFFER/FESTIVE200/Hero01.png);
    background-repeat: round;
    display: flex;
    justify-content: center;
    align-items: center;
}

.offers-box {
    background-color: #f7f7f7;
    min-height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.platform {
    background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url(//s2.rdbuz.com/web/images/home/city_scape_app_download.png);
    background-repeat: round;
}

.benefits {
    background-color: #eee;
}

@media screen and (max-width: 550px) {
    .search {
        min-height: fit-content;
        padding: 2em 0;
    }

}