.offer {
    background-color: white;
    box-shadow: 0 1px 10px #c3c3c3;
    border-radius: 4px;
    text-align: center;
}

.offer:hover {
    transition: all .2s ease-in-out;
    transform: scale(1.03);
}

.offer p {
    font-size: 0.8em;
}