.offcanvas {
    min-width: 40vw;
}

.passenger-info-header,
.contact-info-header {
    border-bottom: 1px solid gray;
}

.passenger-info {
    box-shadow: 0 0 4px 0 hsl(0deg 0% 64% / 50%);
}

.contact-message {
    background-color: yellow;
    width: 75%;
    font-size: 0.8em;
}

.fare-summary {
    font-size: 1.1em;
    font-weight: 500;
}

.fare-terms {
    font-size: 0.8em;
}

.amount-summary {
    border-top: 1px solid gray;
}