.payment-header {
    background-color: rgba(216, 78, 85, 1);
    color: yellow;
    box-shadow: inset rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.icon-img {
    margin-left: 10px;
    max-height: 1.3em;
}

.new-info-banner {
    border: 1px dashed #ddd;
}

.pi {
    box-shadow:  rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

}

.pi .form-check-label {
    margin-left: 0.2em;
}