.search-box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.source,
.destination,
.date {
    outline: none;
    border: none;
    padding-left: 0.6em;
    width: 90%;
}

.source-box,
.destination-box {
    width: 21%;
    display: flex;
    background-color: white;
    border: 1px solid gray;
}

.date-box {
    width: 16%;
    display: flex;
    background-color: white;
    border: 1px solid gray;
}

.search-button {
    flex-basis: 13%;
    border: none;
    outline: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: rgba(216, 78, 85, 1);
    color: white;
}

#city-date {
    width: 1.4em;
    height: 1.7em;
}

@media screen and (max-width: 550px) {
    .search-box {
        flex-direction: column;
    }

    .search-box>* {
        width: 100%;
    }
}