div#signInView {
    display: flex;
}

.signin-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.signin-image {
    flex-basis: 48%;
    border-right: 1px solid #d3d4d5;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.signin-module {
    flex-basis: 52%;
}

.left-side-text {
    position: absolute;
    top: 1em;
    left: 1em;
    font-size: 1.5em;
    font-weight: 600;
    color: #fff;
    text-align: left;
}

.modal-dialog {
    background: #fff;
    min-width: 45% !important;
    border: 4px solid #fff;
    box-shadow: 0 2px 4px 0 hsl(0deg 1% 63% / 50%);
    border-radius: 6px;
}

.modal-content {
    height: 100%;
    width: 100% !important;
    border: none !important;
}



.social {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signin-header {
    font-size: 1.2em;
    font-weight: 500;
    line-height: 1.2;
    color: rgba(216, 78, 85, 1);
    text-align: left;
    margin-right: 30px;
}

.redbus {
    justify-content: space-between;
    align-items: center;
}

#redbusImage img {
    height: 2.5em;
    width: 4.5em;
}

.mobileInputContainer {
    width: 100%;
    border-radius: 3px;
    border: 1px solid #34495e;
    background-color: #fff;
    font-weight: 700;
}

.phoneNo,
.phoneNo:focus,
.countryCode {
    outline: none;
    border: none;
    background-color: #fff;
}

.phoneNo {
    color: #7e7e8c;
}

button.otpContainer {
    width: 100%;
    border-radius: 5px;
    font-size: 0.9em;
}

.text-social span {
    font-size: 0.9em;
}

.signin-terms {
    color: #9b9b9b;
    font-size: 0.7em;
}

.invalid-error {
    color: rgba(216, 78, 85, 1);
    font-size: 0.7em;
}

.OTP-form {
    display: flex;
    flex-direction: column;
}

.OTP-form .message-1 {
    font-size: 0.8em;
    background-color: #a1f7b0;
    text-align: center;
}

.change {
    color: #1034d9;
    font-weight: 500;
}


@media screen and (max-width: 550px) {
    #signInView {
        flex-direction: column;
    }
}